/* 푸터영역 */
#footer {
  background: #000;
  text-align: center;
}
#footer .footer_inner {
  color: #5f5f5f;
  font-size: 13px;
  padding: 50px 0;
}
#footer .footer_inner br {
  display: none;
}
#footer .footer_inner p a {
  color: #5f5f5f;
}
#footer .footer_logo {
}
#footer .copy {
  padding: 30px 0;
  line-height: 1.5;
}
#footer .product {
  line-height: 1.5;
}

/* landscape */
.landscape {
  display: none;
  position: relative;
}
.landscape .inner {
  display: table;
  width: 100%;
  height: 100%;
}
.landscape .inner > div {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1.5;
}

/* totop */
#top_btn {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  width: 37px;
  color: #888;
  height: 37px;
  text-align: center;
  border: 1px solid #888;
  border-radius: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  background: url(/img/totop.png) no-repeat center;
  background-size: 15px auto;
}
/* #top_btn a{background: url("/img/totop.png")no-repeat center;display: block; width: 15px;height: 15px; margin: 0 auto;background-size: 100%;} */
#top_btn span {
  font-size: 0;
}
#top_btn.show {
  opacity: 1;
  visibility: visible;
}

/* **************************************** *
 * 1920px
 * **************************************** */
@media screen and (max-width: 1920px) {
  #footer .footer_logo img {
    width: 100px;
  }
  #footer .footer_inner {
    font-size: 12px;
  }
}

/* **************************************** *
 * 850px
 * **************************************** */
@media (max-width: 850px) and (orientation: landscape) {
  body:not(.txt_input_focus) .landscape {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #000;
    color: #fff;
  }
}

/* **************************************** *
 * 768px
 * **************************************** */
@media screen and (max-width: 768px) {
  #footer .footer_logo img {
    width: 90px;
  }
  #footer .footer_inner {
    font-size: 20px;
    margin: 0 20px;
  }
  #footer .footer_inner br {
    display: block;
  }
}

/* **************************************** *
 * 480px
 * **************************************** */
@media screen and (max-width: 480px) {
  #footer .footer_logo img {
    width: 80px;
  }
  #footer .footer_inner {
    font-size: 12px;
  }
}
