/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  letter-spacing: -0.5px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:active {
  text-decoration: none;
}

.font_box {
  font-family: "Cormorant Garamond", serif;
}
.cont_box {
  box-sizing: border-box;
  margin-left: 25%;
  margin-right: 25%;
}
.hidden {
  visibility: hidden;
}

#skku_wrap {
}
#skku_wrap .skku_inner {
  background: url("/archive/2025_work/about/img/sub_header_bg_ver2.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
}

/* 컨텐츠 영역 */
/* .contents{display: table;box-sizing: border-box;margin-right: 25%;margin-left: 25%;padding-top: 100px;padding-bottom: 200px;} */
.about {
  display: table;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 200px;
  width: 100%;
}
.about .tab_cont,
.about .txt_cont {
  display: table-cell;
  vertical-align: top;
}
.about .txt_cont .txt_oxo {
}
.about .tab_cont .tab_oxo {
  width: 235px;
  padding: 0 50px 0 0;
}
.about .tab_cont .tab_oxo .tab a {
  color: #d4d4d4;
}
.about .tab_cont .tab_oxo .tab.select a {
  color: #000;
}
.about .tab_cont .tab_oxo .tab_01 {
  padding: 0 0 15px 0;
}
.about .tab_cont .tab_oxo .tab_02 {
  padding: 30px 0 20px;
}
.about .tab_cont .tab_oxo .tab_03 {
  padding: 30px 0 0;
}
.about .tab_cont .tab_oxo .border_line {
  border-bottom: 1px solid #888;
}
.about .tab_cont .tab_oxo a {
  font-size: 30px;
  font-weight: 500;
}
.about .tab_cont .tab_oxo a small {
  display: block;
  font-size: 20px;
  font-weight: 300;
  padding: 0 0 15px 0;
}

.about .txt_cont .o_area {
  padding-bottom: 150px;
}
.about .txt_cont .o_area,
.about .txt_cont .t_area {
  display: table;
}
.about .txt_cont .o_area .deps_01,
.about .txt_cont .o_area .deps_02,
.about .txt_cont .t_area .deps_01,
.about .txt_cont .t_area .deps_02 {
  display: table-cell;
}
.about .txt_cont .deps_01 {
  padding: 0 50px 0 0;
  width: 32%;
}
.about .txt_cont .deps_01 .galy {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 40px;
  letter-spacing: -1.5px;
}
.about .txt_cont .deps_01 .galy img {
  display: block;
  width: 20px;
}
.about .txt_cont .deps_01 .galy span {
  padding: 20px 0;
  display: block;
}
.about .txt_cont .name {
  font-size: 20px;
  line-height: 1.3;
  padding: 15px 0 0;
}
.about .txt_cont .name b {
  font-size: 24px;
  display: block;
  font-weight: 500;
}

.about .txt_cont .deps_02 {
}
.about .txt_cont .deps_02 p {
  font-size: 16px;
  line-height: 1.7;
}
.about .txt_cont .deps_02 p.roll {
  padding: 0 0 20px 0;
  line-height: 2;
}

/* 컨텐츠 영역 - 지도교수 */
.about .txt_cont .list .professor {
  border-bottom: 3px solid #000;
}
.about .txt_cont .list .mem_box {
  clear: both;
}
.about .txt_cont .list .mem_box .Contemporary,
.about .txt_cont .list .mem_box .korean,
.about .txt_cont .list .mem_box .ballet {
  padding: 70px 0 0;
  border-bottom: 1px solid #e8e8e8;
}
.about .txt_cont .list .mem_box .korean {
  padding: 70px 0 0;
  border-bottom: 0;
}
.about .txt_cont .list .mem_box ul {
}
.about .txt_cont .list .mem_box ul > li {
}
.about .txt_cont .list ul {
  overflow: hidden;
}
.about .txt_cont .list ul li {
  float: left;
  width: 22%;
  margin: 0 1.5% 50px;
}
/* .contents .txt_cont .list ul li.max{margin-right:3%;} */
.about .txt_cont .list ul li .txt b {
  display: block;
  font-size: 18px;
  padding: 20px 0 30px;
  font-weight: 500;
}
.about .txt_cont .list h2 {
  font-size: 28px;
  font-weight: 500;
  padding: 0 0 25px 1.5%;
  line-height: 1.2;
}
.about .txt_cont .list h2 span {
  display: block;
  font-size: 20px;
  font-weight: 300;
}

.about .txt_cont .list ul li .profile {
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
  position: relative;
}

.about .txt_cont .list ul li .profile img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills container, cropping as needed */
  top: 0;
  left: 0;
}
